* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: rgb(16 15 51);
}

*,
html {
    --primaryGradient: linear-gradient(93.12deg, #686868 0.52%, rgb(11 17 63) 100%);
    --secondaryGradient: linear-gradient(268.91deg, rgb(24 29 71) -2.14%, rgb(206 205 255) 99.69%);
    --primaryBoxShadow: 0px 10px 15px #dddddd;
    --secondaryBoxShadow: 0px -10px 15px #dddddd;
    --primary: #606390;
}

.Kella {
    background: url(media/image-principale.JPG) no-repeat;
    overflow: hidden;
    width: 100%;
    background-size: cover;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    color: rgb(52, 32, 143);
}

a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    color: rgb(238, 9, 9);
}

#logo {
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
    float: left;
}

#imagePrincipale {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: white;
    width: 60%;
    margin: 60px auto;
    opacity: 0.4;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;
}

h1 {
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    color: rgb(17, 16, 17);
    margin-top: 20px;
    text-shadow: 1px 3px 2px rgb(11, 17, 63);
}

#premierTrait {
    flex: 2000px;
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #12ec1d;
    box-shadow: 1px 3px 2px black;
}

h3 {
    flex: 2000px;
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    color: rgb(16, 15, 51);
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 3px 2px rgb(24, 29, 71);
}

#presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0;
}

#texteIntro {
    padding: 0px 20%;
}

#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.imagesPrestations {
    width: 30%;
    font-family: 'Dancing Script', sans-serif;
    text-align: left;
    font-size: 1.2em;
}

.imagesPrestations h4 {
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    font-size: 1.1cm;
    margin: 15px;
    font-weight: 100;
    color: rgb(32, 14, 114);
}

.imagesPrestations img {
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(53, 10, 245, 0.7);
    width: 100%;
    height: 40%;
}

.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

footer {
    background-color: #291858;
    color: #fffae100;
    padding: 20px 0 10px 0;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 900px;
}

input,
textarea,
.imagePrincipale .bttn {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    width: 20%;
    border-radius: 20px;
}

.imagePrincipale .bttn:hover {
    background-color: rgb(0, 128, 255);
    color: rgb(0, 0, 0);
}

textarea {
    height: 120px;
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #476296;
    margin: 60px auto;
}

#copyrightEtIcons {
    display: flex;
    margin-bottom: 10px;
    padding: 0% 5%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: #706c6c;
}

#icons {
    width: 50%;
    text-align: right;
}

#icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #9185be;
}

#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}


/* CHATBOX
=============== */

.chatbox {
    position: fixed;
    bottom: 30px;
    right: 10px;
}


/* CONTENT IS CLOSE */

.chatbox__support {
    display: flex;
    flex-direction: column;
    background: rgba(239, 255, 168, 0.1);
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}


/* CONTENT ISOPEN */

.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
}


/* BUTTON */

.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */

.chatbox__header {
    position: fixed;
    top: 0;
    background: orange;
}


/* MESSAGES */

.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}


/* FOOTER */

.chatbox__footer {
    position: fixed;
    bottom: -40px;
    width: 100%;
}

.chatbox__support {
    background: hwb(0deg 100% 0%);
    height: 500px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/* HEADER */

.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
	width:100%
}

.chatbox__image--header {
    margin-right: 5px;
    max-width:100%;
    max-height:100px;
}
.chatimg{
    max-width:10px;
    max-height:10px;
}
img{
height:50px;
weight:50px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: rgb(206, 205, 255);
}

.chatbox__description--header {
    font-size: .9rem;
    color: rgb(206, 205, 255);
}


/* Messages */

.chatbox__messages {
    padding: 0 20px;
    margin-top: 135px;
    margin-bottom: 35px;
}

.messages__item {
    margin-top: 10px;
    background: #c4c4f5;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}


/* FOOTER */

.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}